/* 4 - External */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

/*
p {
    color: blueviolet;
}
*/

/* Algum comentário */
/* Mais um comentário */
/* Terceiro comentário */

/* Classes */
.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* Ids */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
}

/* Ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

/* Nome de cores */
.color-name {
    color: crimson;
}

/* Hex */
.hex {
    color: #55a398;
}

.hex-2 {
    color: #1c8a94;
}

/* Aprofundando em hex */
.simple-hex {
    color: #333;
}

.simple-hex-2 {
    color: #a5f;
}

/* RGB */
.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    color: rgb(199, 21, 47);
}

/* RGBA */
.rgba {
    color: rgba(100, 199, 45, 0.3);
}

/* HSL */
.hsl {
    color: hsl(100, 20%, 50%);
}

.hsl-2 {
    color: hsl(201, 74%, 10%);
}

/* background */
.bg {
    background-color: #000;
    color: yellow;
}

.bg-2 {
    background-color: rgb(200, 20, 40);
    color: #00eaff;
}

/* background opacity */
.bg-opacity {
    background-color: green;
    opacity: .2;
}

.bg-opacity-2 {
    background-color: #999;
    color: #000;
    opacity: 0.8;
}

/* RGBA com opacidade */
.rgba-opacity {
    background-color: rgba(90, 120, 20, 0.2);
    color: #000;
}

/* BG image */
.bg-image {
    background-image: url("../img/nature.jpg");
    padding: 10px;
    color: #fff;
}

/* centralizando bg umage */
.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url("../img/bridge.jpg");
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* largura e Altura */

.height-width {
    height: 200px;
    width: 100px;
    background-color: red;
}

.height-width-2 {
    height: 300px;
    background-color: #333;
}

/* Padding */
.without-padding,
.padding {
    background-color: #111;
    color: #FFF;
}

.padding {
    background-color: #333;
    padding: 20px;
}

/* Padding individual */
.padding-individual {
    background-color: #222;
    color: #FFF;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

/* Shorthand padding */
.shorthand-padding {
    background-color: #444;
    padding: 6px 12px 18px 24px;
}

.shorthand-padding-2 {
    background-color: #555;
    padding: 10px 20px;
}

/* Padding com Width */
.without-border-box {
    background-color: #444;
    color: #FFF;
    width: 400px;
    padding: 50px;
}

.border-box {
    background-color: #777;
    color: #FFF;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* Border */
.border {
    border: 5px solid red;
    padding: 10px;
}

.border-2 {
    border: 2px dotted #931;
    padding: 25px;
}

/* Border individual */
.border-left {
    border-left: 3px solid red;
    background-color: #222;
    padding: 25px;
}

.border-bottom {
    border-bottom: 5px double #399;
    background-color: #222;
    padding: 20px;
}

/* Borda arrendodada */
.rounded-p {
    border: 4px solid blue;
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 15px;
}

.rounded-p-2 {
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 25px;
}

/* Margem */
.margin {
    margin: 10px;
    background-color: #222;
    color: #FFF;
}

.margin-top {
    margin-top: 50px;
    background-color: #444;
    color: #FFF;
    padding: 10px;
}

.margin-shorthand {
    margin: 5px 10px 15px 20px;
    background-color: #777;
    color: #FFF;
}

/* Box model */
.box-model {
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid #845;
    border-radius: 7px;
    width: 200px;
    height: 400px;
}

/* Text align */
.text-aligned {
    text-align: right;
}

.container-center {
    text-align: center;
    width: 300px;
    border: 1px solid red
}

/* Text decoration */
.underline {
    text-decoration: underline;
}

.line-through {
    text-decoration: line-through;
}

.remove-underline {
    text-decoration: none;
    color: red;
}

/* Text transform */
.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

/* Lettter spacing */
.spacing {
    letter-spacing: 5px;
}

/* Fontes */
.serif {
    font-family: Georgia;
}

.sans-serif {
    font-family: Helvetica;
}

.monospace {
    font-family: "Courier New";
}

.cursive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}

/* Font style */
.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

/* Font weight */
.thin,
.bold,
.bolder {
    font-family: Helvetica;
}

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 900;
}

/* Font size */
.small {
    font-size: 6px;
}

.big {
    font-size: 78px;
}

/* Display */
.inline-box {
    width: 50px;
    height: 50px;
    background-color: #4f8;
    margin: 10px;
    display: inline-block;
}

.block {
    display: block;
}

/* Escondendo elementos */
.invisible {
    display: none;
}

/* Static */
.static {
    position: static;
    background-color: #391;
    color: #FFF;
    width: 100px;
    height: 100px;
}

/* Relative */
.relative {
    position: relative;
    background-color: #224;
    color: #FFF;
    width: 100px;
    height: 100px;
    top: 100px;
    ;
    left: 40px;
}

/* Absolute */
.absolute {
    position: absolute;
    background-color: #964;
    color: #FFF;
    width: 100px;
    height: 100px;
    top: 2px;
    right: 2px;
}

/* Absolute com Relative */
.relative-container {
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin-top: 120px;
    position: relative;
}

.absolute-1,
.absolute-2 {
    width: 50px;
    height: 50px;
    background-color: #422;
    position: absolute;
}

.absolute-1 {
    top: 10px;
    left: 10px;
}

.absolute-2 {
    bottom: 10px;
    right: 10px;
}

/* Fixed */
.fixed {
    width: 100px;
    height: 100px;
    background-color: #851;
    border: 1px solid blue;
    margin-top: 120px;
    position: fixed;
    top: 50px;
    right: 100px;
}

/* Sticky */
.sticky {
    width: 100px;
    height: 100px;
    background-color: #994;
    border: 1px solid green;
    position: sticky;
    top: 10px;
}

/* z-index */
.absolute-3,
.absolute-4,
.absolute-5 {
    width: 50px;
    height: 50px;
    background-color: #123;
    position: absolute;
}

.absolute-3 {
    top: 0;
    left: 0;
    z-index: 3;
}

.absolute-4 {
    top: 10px;
    left: 10px;
    background-color: #246;
    z-index: 20;
}

.absolute-5 {
    top: 40px;
    left: 40px;
    background-color: #543;
    z-index: 1;
}